<div class="col-md-6 mx-auto">
	 <form method= 'GET' action="/search/*" autocomplete="off">
            Student Name:<br>
            <input type="text" name="sname">
            <br>
            Student Subject:<br>
            <input type="text" name="ssubject">
            <br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
    </form>
</div>